// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.navbar{
  padding: 20px;
  background: #f9f8f7;
}

.articles{
  width: 600px;
  margin: auto;
}

